<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:200">
  <a href="order" class="w3-bar-item w3-button">Pedidos</a>
  <a href="products" class="w3-bar-item w3-button">Produtos</a>
  <a href="category" class="w3-bar-item w3-button">Categorias</a>
</div>

<div class="container" style="margin-left:200px">
  <h1>Pedidos</h1>

  <div class="mt-4">
    <div class="form">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Pedido</th>

              <th>Valor</th>

              <th>Cliente</th>

              <th>Pagamento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$ | async">
              <td>{{ order.IdPedido }}</td>

              <td>{{ order.Total | currency:'R$ '}}</td>

              <td>{{ order.Nome }}</td>

              <td>{{ order.Pagamento }}</td>

              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
