<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:200">
  <a href="order" class="w3-bar-item w3-button">Pedidos</a>
  <a href="products" class="w3-bar-item w3-button">Produtos</a>
  <a href="category" class="w3-bar-item w3-button">Categorias</a>
</div>

<div class="container" style="margin-left:200px">
  <h1>Categorias</h1>

  <btn label="Nova categoria" class="btn-success" routerLink="create"></btn>
  <div class="mt-4">
    <div class="form">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>

              <th>Nome</th>

              <th>Descrição</th>

              <th class="text-center">Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories$ | async">
              <td>{{ category.Nome }}</td>

              <td>{{ category.Descricao }}</td>

              <td class="text-center">
                <a (click)="delete(category.IdCategoria,category.Nome)">
                  <img class="mr-3" src="../../../../assets/images/delete.svg" alt="deletar registro" height="20" />
                </a>

                <a [routerLink]="[category.id]">
                  <img src="../../../../assets/images/edit.svg" alt="editar registro" height="20" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
