

  <div class="example-card">
    <mat-card>  
      <mat-tab-group dynamicHeight>
        <mat-tab>

          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">login</mat-icon>
             Entrar
          </ng-template>

          <mat-card-content class="content">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <mat-form-field class="input" appearance="fill">
                <input matInput type="email" placeholder="E-Mail"class="form-control">
              </mat-form-field>

              <mat-form-field class="input" appearance="fill">
                <input matInput type="password" placeholder="Senha" [type]="hide ? 'password' : 'text'"class="form-control">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>

            <mat-card-actions>
              <btn
              class="btn-success btn-lg bold mr-2"
              type="submit"
              label="Login"
            >
            </btn>
            </mat-card-actions>
          </mat-card-content>
        </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">how_to_reg</mat-icon>
        Cadastrar
      </ng-template>
      
      <mat-card-content class="content">
        
        <mat-form-field class="input" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="E-mail">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Coloque seu nome completo">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="Digite seu CPF (Somente números)">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Digite sua Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button class="btn-entrar" color="primary">Cadastrar</button>
          
        </mat-card-actions>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
  </mat-card>
  </div>

