<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:200">
  <a href="order" class="w3-bar-item w3-button">Pedidos</a>
  <a href="products" class="w3-bar-item w3-button">Produtos</a>
  <a href="category" class="w3-bar-item w3-button">Categorias</a>
</div>

<div class="container" style="margin-left:200px">
  <h1>Nova categoria</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="input-title">Nome</label>

    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Ex: Bebidas"
      autofocus
    />

    <label class="input-title">Descrição</label>

    <input
      type="text"
      class="form-control"
      formControlName="description"
      placeholder="Ex: Refrigerantes e sucos"
    />

    <btn
      class="btn-success btn-lg bold mr-2"
      type="submit"
      label="Criar categoria"
    >
    </btn>

    <btn
      class="btn-secondary btn-lg bold"
      type="button"
      label="Voltar"
      routerLink="/category"
    ></btn>
  </form>
</div>
