
.container{
    align-items: center;
}
.input{
    padding: 10px;
}
.button{
    padding: 10px;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  th, td {
      text-align: center;
      padding: 10px;
  }
  tr:nth-child(odd) {
    background-color: #dddddd;
  }


    table {
    border-collapse: collapse;
    width: 100%;
  }

  .valor {
    text-align: right;
  }

  th,
  td {
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }