<div class="container">
<mat-horizontal-stepper labelPosition="bottom" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <ng-template  matStepLabel>Endereço</ng-template>

    <div class="endereco"  *ngFor="let checkout of endereco$ | async">
      <mat-form-field class="input" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput value={{checkout.Cep}} [formControl]="cep">
          </mat-form-field>
          <br>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Logradouro</mat-label>
            <input matInput type="text" value="{{checkout.Rua}}" [formControl]="rua.submit">
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput value={{checkout.Numero}} [formControl]="numero">
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput value={{checkout.Complemento}} [formControl]="complemento">
          </mat-form-field>
          <br>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput value={{checkout.Bairro}} [formControl]="bairro">
          </mat-form-field>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput value={{checkout.Cidade}} [formControl]="cidade">
          </mat-form-field>
          <div class="button">
            <button mat-button matStepperNext type="submit" (click)="updateValue()">Próximo</button>
          </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [formGroup]="form">
    <ng-template  matStepLabel>Pagamento</ng-template>
    
    <table>
      <tr>
        <th>Forma de Pagamento</th>
        <th>Selecione</th>
      </tr>
      <tr *ngFor="let pagamento of pagamento$ | async">
        <td>{{pagamento.Nome}}</td>
        <td>
          <input
          type="checkbox"
          class="form-control"
          formControlName="Pagamento"
          autofocus
        />
        </td>
      </tr>   
    </table>

    <div class="button">
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button matStepperNext  type="submit" >Próximo</button>
    </div>
  </mat-step>

    
  <mat-step>
    <ng-template  matStepLabel>Confirmar Dados</ng-template>

    <mat-grid-list cols="3" rowHeight="200px" gutterSize=10px>
      <mat-grid-tile>
        <mat-card class="card">
          <mat-card-title>Endereço</mat-card-title>
          <mat-card-content>
            <p>
              {{rua.value}}, {{numero.value}}, {{complemento.value}} <br>
              {{bairro.value}}, {{cidade.value}}, {{cep.value}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <table>
          <tr>
            <th>Item</th>
            <th>Qtd</th>
            <th>Valor</th>
          </tr>
          <tr>
            <td>Bolo</td>
            <td>5</td>
            <td class="valor">R$40,00</td>
          </tr>   
    
          <tr>
            <td>Valor Total</td>
            <td></td>
            <td class="valor">R$500,00</td>
          </tr>
        </table>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <mat-card>
          <mat-card-title>Forma de Pagamento</mat-card-title>
          <mat-card-content class="card">
            <p>
              Dinheiro
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <div class="button">
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button matStepperNext>Finalizar Pedido</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
</div>
